<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BillPaymentSystem_BPS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Logfile</display-name>
    <servlet-name>Logfile</servlet-name>
    <servlet-class>mfrp.bps.log.Logfile</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logfile</servlet-name>
    <url-pattern>/Logfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginverification</display-name>
    <servlet-name>Loginverification</servlet-name>
    <servlet-class>mfrp.bps.controller.Loginverification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginverification</servlet-name>
    <url-pattern>/Loginverification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorRegisterController</display-name>
    <servlet-name>VendorRegisterController</servlet-name>
    <servlet-class>mfrp.bps.controller.VendorRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorRegisterController</servlet-name>
    <url-pattern>/VendorRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorUpdateController</display-name>
    <servlet-name>VendorUpdateController</servlet-name>
    <servlet-class>mfrp.bps.controller.VendorUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorUpdateController</servlet-name>
    <url-pattern>/VendorUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorUpdateController2</display-name>
    <servlet-name>VendorUpdateController2</servlet-name>
    <servlet-class>mfrp.bps.controller.VendorUpdateController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorUpdateController2</servlet-name>
    <url-pattern>/VendorUpdateController2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegistrationController</display-name>
    <servlet-name>CustomerRegistrationController</servlet-name>
    <servlet-class>mfrp.bps.controller.CustomerRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegistrationController</servlet-name>
    <url-pattern>/CustomerRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerUpdateController</display-name>
    <servlet-name>CustomerUpdateController</servlet-name>
    <servlet-class>mfrp.bps.controller.CustomerUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerUpdateController</servlet-name>
    <url-pattern>/CustomerUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerUpdateController2</display-name>
    <servlet-name>CustomerUpdateController2</servlet-name>
    <servlet-class>mfrp.bps.controller.CustomerUpdateController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerUpdateController2</servlet-name>
    <url-pattern>/CustomerUpdateController2</url-pattern>
  </servlet-mapping>
</web-app>